/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
    color: #161A1D;
	line-height: 1.5;
	margin: 0;
}

header {
    text-align: center;
    font-size: 22px;
}

.fotky_kdo {
    display: flex;
    justify-content: space-around;
}

.mura {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.baba {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.mura_jmeno {
    margin-bottom: 20px;
}

.mura_sama {
    border-radius: 15px;
    box-shadow: 3px 3px 15px 0px rgba(22,26,29,0.56);
}

.baba_jmeno {
    margin-bottom: 20px;
}

.baba_sama {
    border-radius: 15px;
    box-shadow: 3px 3px 15px 0px rgba(22,26,29,0.56);
}

nav {
    text-align: center;
    padding: 20px;
    background-color: #d3d3d3;
    font-weight: bold;
}

nav a {
    padding: 20px 2rem;
    text-decoration: none;
    color: #161A1D;
}

main {
    margin: 0;
}

section {
    padding: 40px 15%;
}

.odkud,
.kde {
    background-color: #d3d3d3;
}

.kocky_4 {
    width: 300px;
    float: right;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 0px rgba(22,26,29,0.56);
}

.vahy {
    border: 1px solid black;
    border-spacing: 0;
}

.vahy th {
    color: #a4161a;
}

.vahy th, td {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}

.datum {
    background-color: #d3d3d3;
}

.kde {
    clear: both;
}

.kocky_2 {
    width: 300px;
    float: left;
    margin-right: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 0px rgba(22,26,29,0.56);
}

.clear {
    clear: both;
}

footer {
    padding: 20px;
    background-color: #161A1D;
    color: #d3d3d3;
    text-align: center;
}